.signin-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0;

    aside {
        padding: 2em;
    }
    label{
        display:inline-block;
        width:40px;
        visibility: hidden;
    }
    input{
        outline: none;
        border: none;
        border-bottom: 1px solid gray;
    }
}